---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
import Somos from '../components/Somos.astro';
import Menu from '../components/Menu.astro';
import Equipo from '../components/Equipo.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="La Tavola">
	<Header />
  	<Hero />
	<Somos />
	<Menu />
	<Equipo />
	<section class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d195753.2181555721!2d3.894136894271909!3d39.94935135113496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12be1f9d2cb820e9%3A0x529ac484178e77c9!2sMenorca!5e0!3m2!1ses!2ses!4v1743175275862!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</section>
	<Footer />
</Layout>

<style>
	.map {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #B7BCA9;
		padding-bottom: 100px;
		border-top: 2px solid #56584f41;
	}

	iframe {
		width: 800px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		height: 400px;
		margin-top: 50px;
		max-width: 95%;
	}
</style>